<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<h1>Welcome to slangish</h1>
</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<%= link_to 'Trinidadian English', slangs_path, class: "btn btn-lg btn-block btn-default" %>
</div>
</div>
